<% if flash.alert %><p class="alert"><%= flash.alert %></p><% end %>

<%= form_for @reserve do |f| %>
    <h1 class="center-title">予約情報</h1>

    <table class="table">
      <tr>
        <th>宿泊予定日</th>
        <td><%= f.date_select :reservation_start, {:use_month_numbers => true } %> 〜 <%= f.date_select :reservation_end, {:use_month_numbers => true } %></td>
      </tr>
      <tr>
        <th>宿泊人数</th>
        <td><%= f.text_field :number_of_people, size: "5" %> 人</td>
      </tr>
      <tr>
        <th>名前</th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td><%= f.text_field :phonetic %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= f.text_field :phone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= f.text_field :mail %></td>
      </tr>
      <tr>
        <th>メールアドレス（確認用）</th>
        <td><%= f.text_field :mail_confirm %></td>
      </tr>
      <tr>
        <th>宿泊内容</th>
        <td><%= f.text_field :plan %></td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td><%= f.text_field :password %></td>
      </tr>
      <tr>
        <th>パスワード（確認用）</th>
        <td><%= f.text_field :password_confirm %></td>
      </tr>
    </table>
    <%= f.submit '確認', class: 'btn btn-primary mx-auto d-block' %>
<% end %>
