  <header class="masthead" style="background-image: url('assets/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Tateyama Lodge Blog</h1>
            <span class="subheading">立山ロッジの職員が不定期に更新するブログです。</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="col-7">
      <div class="pull-right">
        <% @entries.each do |entry| %>
          <div class="card mb-3 shadow" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4 p-5">
                <% if first_image(entry.body) != nil %>
                  <%= image_tag(first_image(entry.body), class:"thumbnail") %>
                <% else %>
                  <%= image_tag 'noimage.png', class:"thumbnail" %>
                <% end %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title"><%= entry.title %></h2>
                  <p class="card-text"><small class="text-muted"><%= entry.posted_at.strftime("%Y/%m/%d") %></small></p>
                  <p class="card-text"><%= sanitize(remove_image(entry.body).truncate(100)) %></p>
                  <p class="read-more"><%= link_to "もっと読む", entry %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-5">
      <aside class="sidebar">
        <%= render "shared/sidebar" %>
      </aside>
    </div>
  </div>

  <ul class="pagination">
    <%= paginate @entries %>
  </ul>
