  <header class="masthead" style="background-image: url('assets/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Tateyama Lodge Blog</h1>
            <span class="subheading">立山ロッジの職員が不定期に更新するブログです。</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="col-8">
      <div class="pull-right">
        <% @entries.each do |entry| %>
          <div class="blog-card">
            <div class="meta">
              <div class="photo">
                <% if first_image(entry.body) != nil %>
                  <%= image_tag(first_image(entry.body), size: "250x250") %>
                <% else %>
                  <%= image_tag 'noimage.png', size: "250x250" %>
                <% end %>
              </div>
                <ul class="details">
                  <li class="date"><%= entry.posted_at.strftime("%Y/%m/%d") %></li>
                </ul>
            </div>
              <div class="description">
                <h1><%= entry.title %></h1>
                <p><%= sanitize(remove_image(entry.body).truncate(100)) %></p>
                <p class="read-more">
                <%= link_to "もっと読む", entry %>
                </p>
              </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-4">
      <aside class="sidebar">
        <%= render "shared/sidebar" %>
      </aside>
    </div>
  </div>

  <ul class="pagination">
    <%= paginate @entries %>
  </ul>
