<div class="container">

  <br>

  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Tatryama Lodge<br>News</h1>
          <p class="lead my-3">立山ロッジの周辺状況や利用方法に<br>関することをお知らせします。</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="post.html">
            <% @articles.each do |article| %>
              <h2 class="post-title">
                <%= link_to article.title, article %>
              </h2>
              <h3 class="post-subtitle">
                Problems look mighty small from 150 miles up
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              <%= link_to article.released_at.strftime("%Y/%m/%d %H:%M") %></p>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @articles.present? %>
    <table class="list table-striped">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>日時</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= link_to article.title, article %></td>
            <td><%= link_to article.released_at.strftime("%Y/%m/%d %H:%M") %></td>
            <td>
              <%= link_to "編集", [:edit, article] %> |
              <%= link_to "削除", article, method: :delete, data: { confirm: "本当に削除しますか？" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>ニュースがありません</p>
  <% end %>

</div>
