<%= image_tag 'mountain_header.jpg', class: "header_img" %>
<section class="page_ttl pt-60">
  <h1 class="center-title gfont">NEWS</h1>
  <p class="sub_ttl text-center">ニュース</p>
</section>

<div class="container text-center mb-80">
  <% @page_title = @article.title %>
  <h2 class="article_ttl"><%= @article.title %></h2>
  <p class="pt15"><%= @article.released_at.strftime("%Y/%m/%d") %></p>

  <%= simple_format(@article.body, class: "article_txt") %>

  <%= link_to "一覧に戻る", articles_path, class: "backbtn_txt" %>
</div>
