<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-7">
          <div class="float-right">
  					<h5>Quick links</h5>
  					<ul class="list-unstyled quick-links">
  						<li><%= link_to " トップ", root_path, class: "fa fa-angle-double-right" %><span class="sr-only">(current)</span></li>
              <li><%= link_to " 紹介", introduction_path, class: "fa fa-angle-double-right" %><span class="sr-only">(current)</span></li>
              <li><%= link_to " 料金", price_path, class: "fa fa-angle-double-right" %><span class="sr-only">(current)</span></li>
              <li><%= link_to " 予約", new_reserf_path, class: "fa fa-angle-double-right" %><span class="sr-only">(current)</span></li>
              <li><%= link_to " ブログ", entries_path, class: "fa fa-angle-double-right" %><span class="sr-only">(current)</span></li>
              <li><%= link_to " ニュース", articles_path, class: "fa fa-angle-double-right" %><span class="sr-only">(current)</span></li>
              <li><%= link_to " お問い合わせ", inquiry_index_path, class: "fa fa-angle-double-right" %><span class="sr-only">(current)</span></li>
  					</ul>
          </div>
				</div>
				<div class="col-5">
          <div class="float-right">
  					<h5>Information</h5>
  					<ul class="list-unstyled quick-links">
  						<li class="footer-info"><i class="fa fa-angle-double-right"></i>TEL   : 076-111-2222</li>
  						<li class="footer-info"><i class="fa fa-angle-double-right"></i>MAIL  : abc@gmail.com</li>
  						<li class="footer-info"><i class="fa fa-angle-double-right"></i>place : A県B町C番地</li>
  					</ul>
          </div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">&copy Teteyama Lodge right Reversed.</p>
				</div>
				</hr>
			</div>
		</div>
	</section>
	<!-- ./Footer -->
