<header>
  <h1 class="logo">
    <%= link_to(root_path) do %>
      <%= image_tag "logo_ttl.jpg" %>
    <% end %>
  </h1>
  <!-- スマホメニューボタン -->
  <div class="menu_btn">
    <%= image_tag "menu_btn_before.png" %>
  </div>
  <nav class="NavMenu">
    <ul>
      <li>
        <%= link_to "ABOUT", introduction_path, class: "nav-txt" %>
      </li>
      <li>
        <%= link_to "PRICE", price_path, class: "nav-txt" %>
      </li>
      <li>
        <%= link_to "RESERVE", new_reserf_path, class: "nav-txt" %>
      </li>
      <li>
        <%= link_to "BLOG", entries_path, class: "nav-txt" %>
      </li>
      <li>
        <%= link_to "NEWS", articles_path, class: "nav-txt" %>
      </li>
      <li>
        <%= link_to "CONTACT", inquiry_index_path, class: "nav-txt" %>
      </li>
    </ul>
  </nav>
</header>
