<main role="main">
  <%= image_tag 'mountain_header.jpg', class: "header_img" %>
  <section class="page_ttl pt-60">
    <h1 class="center-title gfont">ABOUT</h1>
    <p class="sub_ttl text-center">KEY'S LODGEについて</p>
  </section>

  <p class="pt50 text-center">
    KEY'S LODGEは、<br>
    山を愛する人たちが疲れた体を休める<br>
    安らぎの場所です
  </p>

  <div class="firstview_bg">
    <div class="firstview_top">
     <div class="first_movie">
       <iframe class="top_movie" width="60%" src="https://player.vimeo.com/video/361262835" frameborder="0" allow="autoplay;fullscreen" allowfullscreen></iframe>
     </div>
     <div class="firstview_top_pic">
      <%= image_tag "top_img_2.jpg", class: "firstview_top_img" %>
      <%= image_tag "top_img_3.jpg", class: "firstview_top_img" %>
     </div>
    </div>
    <div class="firstview_under_pic">
      <%= image_tag "top_img_4.jpg", class: "firstview_under_img" %>
      <%= image_tag "top_img_5.jpg", class: "firstview_under_img" %>
      <%= image_tag "top_img_6.jpg", class: "firstview_under_img" %>
    </div>
  </div>

  <div class="container">
      <div class="introduce_1">
       <div class="introduce">
        <div class="introduce_box justify-content-center">
         <div class="introduce_parts">
          <p>「半分の田舎暮らしベース」→「自然＋東京のデュアルライフオフィス」<br>
           「ツリーハウス・芝生・ウッドデッキ」「奥多摩・青梅飯能キャンプ・<br>
           焚き火・薪ストーブ」etc　東京から近い自然豊かな川のそばで、<br>
           上記キーワードの不動産を探して、<br>
           <br>
           都会でストレスな会議をおこなっている仲間達へ<br>
           <br>
           たまには、川のせせらぎを聴きながら薪ストーブがあるウッドデッキで<br>
           ミーティングそして、のんびり仕事と趣味が出来るベース（基地）を造ろう！<br>
           ・・・と、いう計画
          </p>
         </div>
         <div class="space"></div>
         <div class="text-center d-flex align-items-center">
          <%= image_tag "introduce_img_1.jpg" %>
         </div>
        </div>
       </div>
      </div>

      <div class="introduce">
       <div class="introduce_box justify-content-center">
         <div class="text-center d-flex align-items-center">
          <%= image_tag "introduce_img_2.jpg" %>
         </div>
         <div class="space"></div>
         <div class="introduce_parts">
          <p>場所は<br>
            東京吉祥寺駅から中央線で青梅駅へ<br>
            そこから車で17～8分<br>
            飯能名栗川の川沿いに建つ築30年？40年？の古民家（ただの古家？＾＾；）<br>
            <br>
            さて、
            のんびりと建築リノベーションやお庭の造成などしながら<br>
            造っていこうと思います。<br>
            もし、上記のキーワード？に興味のある方は、どうぞこの計画webたまに<br>
            のぞいてみてやって下さい。ただ、気ままなページですので、<br>
            その点、お許しください
          </p>
         </div>
       </div>
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </div>
