<main role="main">
  <div class="container">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag("first.jpg", :class => "first-slide") %>
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>ここにしかない最高の景色を</h1>
                <p>立山ロッジ最大の魅力はその景色の素晴らしさです。ぜひ体感してみてください。</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag("second.jpg", :class => "second-slide") %>
            <div class="container">
              <div class="carousel-caption">
                <h1>美食を愉しむ</h1>
                <p>立山ロッジの食事は、山の幸はもちろん海の幸もふんだんに使ったこだわりのメニューです。</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag("third.jpg", :class => "third-slide") %>
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>豊かな自然</h1>
                <p>周辺には貴重な高山植物をはじめ、ここにしかいない珍しい動物などが共存しています。</p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <br>
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">癒しの原風景</h2>
            <p class="lead">A岳は、アルプスの女王と呼ばれる優雅で美しい山です。<br>
                            白い花崗岩砂礫に、コマクサをはじめ色とりどりの高山植物が咲き、四季を通して比較的安全に登れる癒しの別天地、北アルプスに初めて登る山として多くの登山者に親しまれています。</p>
          </div>
          <div class="col-md-5">
            <%= image_tag("river.jpg", :class => "featurette-image img-fluid mx-auto") %>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">高山植物などの豊かな自然</h2>
            <p class="lead">ロッジの魅力のひとつがその周辺に広がる豊かな自然環境。<br>
                            四季折々の様々な植物が咲き乱れる様子は見ていてとても癒されます。</p>
          </div>
          <div class="col-md-5 order-md-1">
            <%= image_tag("flower.jpg", :class => "featurette-image img-fluid mx-auto") %>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">かけがえのない思い出を</h2>
            <p class="lead">お子さんでも安全に登山できるよう、登山道もしっかり整備されています。<br>
                            非日常な時間と空間で、ここでしか作れない思い出を作りませんか。</p>
          </div>
          <div class="col-md-5">
            <%= image_tag("walking.jpg", :class => "featurette-image img-fluid mx-auto") %>
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </div>
