<main role="main">
  <%= image_tag 'mountain_header.jpg', class: "header_img" %>
  <section class="page_ttl pt-60">
    <h1 class="center-title gfont">ABOUT</h1>
    <p class="sub_ttl text-center">KEY'S LODGEについて</p>
  </section>

  <div class="container">
    <p class="pt50 text-center fs-14">
      KEY'S LODGEは、山を愛する人たちが疲れた体を休めるための安らぎの宿です。
    </p>
  </div>

  <div class="firstview_bg">
    <div class="firstview_top">
     <div class="first_movie">
       <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/aqa9h-nL-TA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
       <iframe class="top_movie" width="60%" src="https://www.youtube.com/embed/aqa9h-nL-TA" frameborder="0" allow="autoplay;fullscreen" allowfullscreen></iframe>
     </div>
     <div class="firstview_top_pic">
      <%= image_tag "top_img_2.jpg", class: "firstview_top_img" %>
      <%= image_tag "top_img_3.jpg", class: "firstview_top_img" %>
     </div>
    </div>
    <div class="firstview_under_pic">
      <%= image_tag "top_img_4.jpg", class: "firstview_under_img" %>
      <%= image_tag "top_img_5.jpg", class: "firstview_under_img" %>
      <%= image_tag "top_img_6.jpg", class: "firstview_under_img" %>
    </div>
  </div>

  <div class="container">
      <div class="introduce_1 mt-80 row">
         <div class="introduce_parts col-lg-6 col-md-12">
          <p class="text-center">
           標高1,000mの高地に位置するKEY'S LODGEの周辺には、<br>
           手付かずのまま残っている豊かな自然環境があります。<br>
           ここでしか見ることのできない植物や、ここでしか会うこと<br>
           のできない動物たち。<br>
           <br>
           生命力あふれる彼らの姿に魅了されることでしょう。<br>
           <br>
           街のような華やかさは便利さはないですが、<br>
           大自然の中だからこそ感じられる安らぎがあります。<br>
          </p>
         </div>
         <div class="introduce_img text-center align-items-center col-lg-6 col-md-12">
          <%= image_tag "introduce_img_1.jpg" %>
         </div>
      </div>

      <div class="introduce">
         <div class="introduce_1 mt-80 mb-80 row">
           <div class="introduce_img text-center align-items-center col-lg-6 col-md-12">
            <%= image_tag "introduce_img_2.jpg" %>
           </div>
           <div class="introduce_parts col-lg-6 col-md-12 text-center">
            <p>
              標高1,000mの高地に位置するKEY'S LODGEの周辺には、<br>
              手付かずのまま残っている豊かな自然環境があります。<br>
              ここでしか見ることのできない植物や、ここでしか会うこと<br>
              のできない動物たち。<br>
              <br>
              生命力あふれる彼らの姿に魅了されることでしょう。<br>
              <br>
              街のような華やかさは便利さはないですが、<br>
              大自然の中だからこそ感じられる安らぎがあります。<br>
            </p>
           </div>
         </div>
      </div>
  </div>
